<% title "Saison de lutte #{@season.title}" %>

<div class="demo">
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Saison <%= @season.title %></a></li>
		<li><a href="#tabs-2">Tournois Saison <%= @season.title %> </a></li>
		<li><a href="#tabs-3">Sponsors Saison<%= @season.title %></a></li>
	</ul>
	<div id="tabs-1">
		<p>  <strong>Titre: </strong><%= @season.title %>	</p>
		<p>  <strong>Description: </strong><%= @season.content %>	</p>
		<p>  <strong>Début: </strong> <%=h @season.start %>	</p>
		<p>  <strong>Fin: </strong> <%=h @season.end %>	</p>
	</div>
	<div id="tabs-2">
	</div>
	<div id="tabs-3">		
	</div>
</div>
</div>
<p><%= link_to "Nouvelle Saison", new_season_path %></p>
<script type="text/javascript">
	$(function() {$("#tabs").tabs();});
</script>