<% form_for @arene , :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <div id = 'tabs' >
  		<ul>
  			<li><a  href = '#tabs-1'>Description Aréne</a></li>
  			<li><a  href = '#tabs-2'>Référencement</a></li>
  		</ul>
  		<div id = 'tabs-1' >	
  			<p><%= f.label :Titre_Aréne %><br /><%= f.text_field :title %></p>
  			<p><%= f.label :Nom_Aréne %><br /><%= f.text_field :name %></p>  			
  			<p><%= f.label :Snapshot %><br /><%= f.file_field :snapshot %></p>
  			<p><%= f.label :Capacité_Aréne %><br /><%= f.text_field :capacity %></p>
  			<p><%= f.label :Date_de_construction %><br /><%= f.text_field :build_date , :id => 'datepicker' %></p>
  			<p><%= f.label :localisation_Arene %><br /><%= f.text_field :location %></p>
  			<p><%= f.label :Decription_Aréne %><br /><%= f.text_area :content , :class => 'mceEditor' %></p>
  		</div>	
  		<div id = 'tabs-2'>	
  			<p><%= f.label :keywords %><br /><%= f.text_area :keywords , :cols => 50 , :rows => 5 , :class => 'mceNoEditor' %></p>
  			<p><%= f.label :meta %><br /><%= f.text_area :meta , :cols => 50 , :rows => 5 , :class => 'mceNoEditor' %></p>  
  			<p><%= f.submit "Enregistrer" %></p>
  		</div>		
  	</div>	
<% end %>
<script type="text/javascript">
	$(function(){$('#datepicker').datepicker(); $("#tabs").tabs();});
</script>