<% title "Aréne de lutte du stade: #{@arene.title}" %>

<p>
  <%= @arene.content %>
</p>
<p>
  <strong>Keywords:</strong>
  <%=h @arene.keywords %>
</p>
<p>
  <strong>Meta:</strong>
  <%=h @arene.meta %>
</p>
<p>
  <strong>Capacité de l'aréne de lutte:</strong>
  <%=h @arene.capacity %>
</p>
<p>
  <strong>Localisation:</strong>
  <%=h @arene.location %>
</p>

<p>
  <%= link_to "Modifier cette Aréne de lutte", edit_arene_path(@arene) %> |
  <%= link_to "Supprimer", @arene, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Liste Arénes de lutte", arenes_path %>
</p>
