<% form_for [@season , @tournoi , @groupe] do |f| %>
  <%= f.error_messages %>

	<div id = 'tabs'>  
		<ul>
	  		<li><a  href = '#tabs-1'>Description Groupe</a></li>
	  		<li><a  href = '#tabs-2'>Réferencement</a></li>
	  		<li><a  href = '#tabs-3'>Membres du Groupe</a></li>
	  	</ul>
	  	<div id = 'tabs-1'>
		    <p><%= f.label :title %><br /><%= f.text_field :title %> </p>
		    <p><%= f.label :name %><br /><%= f.text_field :name %> </p>  
		    <p><%= f.label :content %><br /><%= f.text_area :content %></p>
	    </div>
	    <div id = 'tabs-2'> 
		    <p><%= f.label :keywords %><br /><%= f.text_area :keywords , :cols => 50 , :rows => 5 , :class => 'mceNoEditor' %> </p>
		    <p><%= f.label :meta %><br /><%= f.text_area :meta , :cols => 50 , :rows => 5 , :class => 'mceNoEditor' %></p>
		    <p><%= f.submit "Enregister" %></p>
	    </div>
	    <div id = 'tabs-3'></div>
	</div>  
<% end %>
<script type="text/javascript">
	$(function(){
					$('.datepicker').datepicker({changeMonth: true,changeYear: true});
					$('.datepicker').datepicker($.datepicker.regional['fr']);
					$("#tabs").tabs();});
</script>