<% form_for [@ecury , @lutteur] , :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
    <p>
    <%= f.label :Avatar_Lutteur %><br />
    <%= f.file_field :lutteur_avatar %>
  </p>
  <p>
    <%= f.label :category_lutteur_id %><br />
    <%= f.collection_select(:category_lutteur_id , @categorie_lutteurs , :id , :title) %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.label :keywords %><br />
    <%= f.text_area :keywords , :cols => 50 , :rows => 5 , :class => 'mceNoEditor' %>
  </p>
  <p>
    <%= f.label :meta %><br />
    <%= f.text_area :meta , :cols => 50 , :rows => 5 , :class => 'mceNoEditor' %>
  </p>
  <p>
    <%= f.label :birth_date %><br />
    <%= f.text_field :birth_date , :class => 'datepicker' %>
  </p>
  <p>
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </p>
  <p>
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </p>
  <p>
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </p>
  <p>
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname %>
  </p>
  <p><%= f.submit "Enregistrer" %></p>
<% end %>
<script type="text/javascript">
	$(function(){
				$('.datepicker').datepicker({changeMonth: true,changeYear: true});
				$('.datepicker').datepicker($.datepicker.regional['fr']);
			});
</script>